/*# navigation section */
.navigation {
  width: 100%;
  min-height: 5em;
  height: 5em;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  padding: 0 4vw;
  position: sticky !important;
  top: 0;
  z-index: 9999;
  background-color: rgb(34, 35, 68);
  transition: background-color 0.3s ease-in-out;
}
.navigation .nav {
  display: flex;
  z-index: 9999;
  gap: 25px;
}
.navigation .branding {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.navigation .company-name {
  font-size: 1.25rem;
  padding-left: 0.5em;
  transition: 0.7s;
}
.navigation .company-name:hover {
  cursor: pointer;
}
.navigation .nav-link {
  transition: 0.5s ease;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 500;
}
.navigation .nav-link:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.navigation .ham-icon {
  display: none;
  cursor: pointer;
}
.navigation .ham-icon .bar {
  display: block;
  width: 1.7em;
  height: 6px;
  margin: 6px auto;
  transition: all 0.4s ease-in-out;
  background-color: white;
}
@media (max-width: 745px) {
  .navigation .ham-icon {
    display: block;
  }
  .navigation .ham-icon.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .navigation .ham-icon.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navigation .ham-icon.active .bar:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
  }
  .navigation .nav {
    display: flex;
    position: absolute;
    margin: 0 0;
    right: 0;
    top: 80px;
    visibility: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column !important;
    background-color: #FAFAFA;
    width: 100%;
    height: 60svh;
    padding: 10vh 0;
    gap: 25px;
    opacity: 0%;
    transition: 0.75s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  .navigation .nav .nav-link {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    font-size: 1.75rem;
    text-align: center;
    color: black !important;
  }
  .navigation .nav.active {
    visibility: visible;
    opacity: 100%;
    font-size: 1.5rem;
  }
}
@media (max-width: 350px) {
  .navigation .nav {
    top: 80px !important;
  }
}

/* landing section of home.jsx */
.land {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  justify-content: space-evenly;
  padding: 100px 0 5em 0;
  background-size: 100% 100%;
  background-color: rgb(34, 35, 68);
}
.land .land-text {
  display: flex;
  background-color: transparent;
  color: white !important;
  width: 35%;
  height: -moz-max-content;
  height: max-content;
  flex-direction: column;
  font-size: 1rem;
  gap: 1rem;
  text-wrap: pretty;
}
.land .land-cols {
  display: flex;
  width: 50%;
  height: -moz-max-content;
  height: max-content;
  align-items: flex-end;
  justify-content: flex-start;
  background-color: white;
  border-color: white;
  border-width: 3px 1em 3px 1em;
  border-style: solid;
  border-radius: 1%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.land .land-cols .box4, .land .land-cols .box3, .land .land-cols .box2, .land .land-cols .box1 {
  display: flex;
  background-color: #ffffff;
  width: 25%;
  height: 22em;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  position: relative;
  border-radius: 3%;
  transition: width 0.4s ease-in, height 0.4s ease-in;
}
.land .land-cols .box4:hover, .land .land-cols .box3:hover, .land .land-cols .box2:hover, .land .land-cols .box1:hover {
  width: 20em;
  height: 27em;
  color: white;
}
@media (max-width: 900px) {
  .land .land-text {
    width: 100%;
    margin: 5vh 5vw;
  }
  .land .land-cols {
    width: 100%;
    margin: 0 5vw;
    flex-wrap: wrap;
    border-width: 3px;
  }
  .land .land-cols .box1, .land .land-cols .box2, .land .land-cols .box3, .land .land-cols .box4 {
    width: 50%;
    height: 45dvw;
  }
  .land .land-cols .box1:hover, .land .land-cols .box2:hover, .land .land-cols .box3:hover, .land .land-cols .box4:hover {
    width: 50%;
    height: 45dvw;
    border: 7px solid white;
  }
}

@media (max-width: 875px) {
  .land {
    padding: 6em 0;
  }
}
.line {
  width: 100%;
  height: 1rem;
  background-color: rgb(34, 35, 68);
  margin: 1rem 0;
  transition: background-color 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.line:hover {
  background-color: rgb(192, 106, 133);
}

.line2 {
  width: 90%;
  height: 1rem;
  background-color: #1b1b1b;
  margin-bottom: 1rem;
  transition: background-color 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.line2:hover {
  background-color: rgb(192, 106, 133);
}

.line3 {
  width: 75%;
  height: 1rem;
  background-color: rgb(34, 35, 68);
  margin-bottom: 1rem;
  transition: background-color 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.line3:hover {
  background-color: rgb(192, 106, 133);
}

.line4 {
  width: 60%;
  height: 1rem;
  background-color: #1b1b1b;
  margin-bottom: 1rem;
  transition: background-color 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.line4:hover {
  background-color: rgb(192, 106, 133);
}

.Xlayer {
  width: 100%;
  height: 1dvh;
  background-color: rgb(17, 17, 34);
}

.homecontent {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1vh 0;
  padding: 5%;
}
.homecontent .intro-text {
  width: 50%;
  height: -moz-max-content;
  height: max-content;
  font-size: 1.2rem;
  text-wrap: pretty;
}
.homecontent .intro-title {
  width: 100%;
  font-size: 2.75rem;
  color: black;
}
.homecontent .intro {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  margin: auto;
  flex-direction: row;
  gap: 30px;
}
.homecontent .intro .carousel {
  width: 50%;
  max-height: -moz-fit-content;
  max-height: fit-content;
  display: flex;
  justify-content: flex-end;
}
.homecontent .intro .hcboxes {
  width: 400px;
  height: 460px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid black;
  box-shadow: 2px 2px 6px 1px black;
  border-radius: 2.5%;
}
.homecontent .intro .hcboxes .profileimg {
  width: 100%;
  height: 450px;
  background-size: 100% 100%, cover;
  background-color: rgb(255, 255, 255);
}
@media (max-width: 900px) {
  .homecontent .intro .carousel {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .homecontent .intro .hcboxes {
    display: flex;
    flex-direction: row;
    width: 75%;
    height: auto;
    overflow-x: scroll !important;
    overflow-y: hidden !important;
  }
  .homecontent .intro .hcboxes .profileimg {
    flex-shrink: 0;
    height: 500px;
  }
}
@media (max-width: 900px) and (max-width: 650px) {
  .homecontent .intro .hcboxes {
    width: 90%;
  }
  .homecontent .intro .hcboxes .profileimg {
    width: 100%;
    height: 450px;
  }
}
@media (max-width: 900px) and (max-width: 510px) {
  .homecontent .intro .hcboxes .profileimg {
    width: 100%;
    height: 350px;
  }
}
@media (max-width: 900px) and (max-width: 400px) {
  .homecontent .intro .hcboxes .profileimg {
    width: 100%;
    height: 300px;
  }
}
@media (max-width: 900px) {
  .homecontent .intro {
    margin-top: 60px;
    flex-direction: column;
    gap: 60px;
  }
  .homecontent .intro .intro-text {
    width: 90%;
    margin: auto;
  }
}

.galleryimg {
  width: 500px;
  height: 500px;
}/*# sourceMappingURL=App.css.map */