/*# navigation section */
.navigation {
  width: 80%;
  min-height: 85px;
  display: flex;
  justify-content: space-between !important;
  background-color: #151E3F;
  align-items: center;
  padding: 0 5vw;
  position: fixed !important;
  border-radius: 30px;
  margin: 2.5vh 10%;
  bottom: 0;
  z-index: 9999;
}
.navigation .nav {
  display: flex;
  align-items: center;
  gap: 25px;
  z-index: 9999;
}
.navigation .branding {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.navigation .company-name {
  font-size: 20px;
  padding-left: 0.5em;
  transition: 0.7s;
}
.navigation .company-name:hover {
  font-size: 1.6em;
  color: #F46197;
  font-weight: bolder;
  font-size: 25px;
}
.navigation .gavipic {
  width: 3em;
  height: 40px;
  margin-top: 5px;
  border-radius: 50%;
}
.navigation .nav-link {
  transition: 0.5s ease;
  color: rgb(255, 255, 255) !important;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}
.navigation .nav-link:hover {
  font-size: 25px;
  cursor: pointer;
  color: #F46197 !important;
  margin: 1vh 0;
  font-weight: bolder;
}
.navigation .ham-icon {
  display: none;
  cursor: pointer;
}
.navigation .ham-icon .bar {
  display: block;
  width: 2em;
  height: 6px;
  margin: 6px auto;
  transition: all 0.4s ease-in-out;
  background-color: white;
}
@media (max-width: 745px) {
  .navigation .ham-icon {
    display: block;
  }
  .navigation .ham-icon.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .navigation .ham-icon.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navigation .ham-icon.active .bar:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
  }
  .navigation .nav {
    position: fixed;
    margin: -30vh 10%;
    right: 0;
    bottom: 80px;
    padding: 3%;
    visibility: hidden;
    border-radius: 30px;
    flex-direction: column !important;
    background-color: #FAFAFA;
    width: 80%;
    height: -moz-max-content;
    height: max-content;
    text-align: center;
    opacity: 0%;
    border: 3px solid #001524;
    transition: 0.75s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  .navigation .nav .nav-link {
    display: flex;
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    color: black !important;
    justify-content: center;
  }
  .navigation .nav.active {
    visibility: visible;
    margin: 5vh 10%;
    opacity: 100%;
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .navigation .gavipic {
    display: none;
  }
  .navigation .company-name {
    font-size: 15px;
  }
}

/* landing section of home.jsx */
.land {
  width: 100%;
  height: 35em;
  overflow-x: hidden;
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: repeating-linear-gradient(315deg, rgba(0, 255, 255, 0.1803921569) 92%, rgba(7, 58, 255, 0) 100%), repeating-radial-gradient(75% 75% at 238% 218%, rgba(0, 255, 255, 0.0705882353) 30%, rgba(7, 58, 255, 0.0784313725) 39%), radial-gradient(99% 99% at 109% 2%, #00c9ff 0%, rgba(7, 58, 255, 0) 100%), radial-gradient(99% 99% at 21% 78%, #ff00e1 0%, rgba(7, 58, 255, 0) 100%), radial-gradient(160% 154% at 711px -303px, #2000ff 0%, #073aff 100%);
}

.line {
  width: 100%;
  height: 10px;
  position: absolute;
  top: 10px;
  background-color: #001524;
}

.line2 {
  width: 90%;
  height: 10px;
  top: 30px;
  position: absolute;
  background-color: #001524;
}

.line3 {
  width: 75%;
  height: 10px;
  top: 50px;
  position: absolute;
  background-color: #001524;
}

.line4 {
  width: 60%;
  height: 10px;
  top: 70px;
  position: absolute;
  background-color: #001524;
}/*# sourceMappingURL=App.css.map */