/*# navigation section */
.navigation {
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  padding: 0 5vw;
  position: sticky !important;
  top: 0;
  z-index: 9999;
  background-color: rgb(114, 7, 255);
}
.navigation .nav {
  display: flex;
  align-items: center;
  gap: 25px;
  z-index: 9999;
}
.navigation .branding {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.navigation .company-name {
  font-size: 1rem;
  padding-left: 0.5em;
  transition: 0.7s;
}
.navigation .company-name:hover {
  cursor: pointer;
}
.navigation .gavipic {
  width: 3em;
  height: 40px;
  margin-top: 5px;
  border-radius: 50%;
}
.navigation .nav-link {
  transition: 0.5s ease;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}
.navigation .nav-link:hover {
  transform: scale(1.25);
  cursor: pointer;
}
.navigation .ham-icon {
  display: none;
  cursor: pointer;
}
.navigation .ham-icon .bar {
  display: block;
  width: 2em;
  height: 6px;
  margin: 6px auto;
  transition: all 0.4s ease-in-out;
  background-color: white;
}
@media (max-width: 745px) {
  .navigation .ham-icon {
    display: block;
  }
  .navigation .ham-icon.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .navigation .ham-icon.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navigation .ham-icon.active .bar:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
  }
  .navigation .nav {
    position: absolute;
    margin: 0 0;
    right: 0;
    top: 100%;
    overflow-y: scroll;
    visibility: hidden;
    flex-direction: column !important;
    background-color: #FAFAFA;
    width: 100%;
    padding-top: 5%;
    height: 100vh;
    text-align: center;
    opacity: 0%;
    border: 3px solid #001524;
    transition: 0.75s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  .navigation .nav .nav-link {
    display: flex;
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    font-size: 1.5rem;
    color: black !important;
    justify-content: center;
  }
  .navigation .nav.active {
    visibility: visible;
    margin: 0 0;
    opacity: 100%;
    font-size: 1.5rem;
    overflow-y: scroll;
  }
}
@media (max-width: 350px) {
  .navigation .nav {
    top: 80px !important;
  }
}
@media (max-width: 215px) {
  .navigation .gavipic {
    display: none;
  }
}

/* landing section of home.jsx */
.land {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 10% 0;
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: repeating-linear-gradient(315deg, rgba(0, 255, 255, 0.1803921569) 92%, rgba(7, 58, 255, 0) 100%), repeating-radial-gradient(75% 75% at 238% 218%, rgba(0, 255, 255, 0.0705882353) 30%, rgba(7, 58, 255, 0.0784313725) 39%), radial-gradient(99% 99% at 109% 2%, #00c9ff 0%, rgba(7, 58, 255, 0) 100%), radial-gradient(99% 99% at 21% 78%, rgb(255, 7, 189) 0%, rgba(7, 58, 255, 0) 100%), radial-gradient(160% 154% at 711px -303px, #2000ff 0%, #073aff 100%);
}
.land .land-text {
  display: flex;
  background-color: transparent;
  color: white !important;
  width: 40%;
  height: -moz-max-content;
  height: max-content;
  flex-direction: column;
  font-size: 1rem;
  gap: 1rem;
}
.land .land-cols {
  display: flex;
  width: 45%;
  height: -moz-max-content;
  height: max-content;
  align-items: center;
}
.land .land-cols .box4, .land .land-cols .box3, .land .land-cols .box2, .land .land-cols .box1 {
  display: flex;
  background-color: #ffffff;
  width: 25%;
  height: 25em;
  min-height: 5em;
  border: 1px solid rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  border: 3.5px solid white;
  background-size: 100% 100%, cover;
  z-index: 1;
  transition: width 0.5s ease-in, height 0.6s ease-in, background-blend-mode 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.land .land-cols .box4 .imgtitle, .land .land-cols .box3 .imgtitle, .land .land-cols .box2 .imgtitle, .land .land-cols .box1 .imgtitle {
  display: none;
}
.land .land-cols .box4:hover, .land .land-cols .box3:hover, .land .land-cols .box2:hover, .land .land-cols .box1:hover {
  width: 70em;
  color: white;
  height: 27em;
  border-width: 15px 15px 30px 15px;
  border-style: solid;
  border-color: white;
  box-shadow: 2px 2px 10px rgb(0, 0, 0);
}
.land .land-cols .box4:hover::after, .land .land-cols .box3:hover::after, .land .land-cols .box2:hover::after, .land .land-cols .box1:hover::after {
  content: ".jpg";
  bottom: 10px;
  position: relative;
  color: red;
}
.land .land-cols .box4:hover .imgtitle, .land .land-cols .box3:hover .imgtitle, .land .land-cols .box2:hover .imgtitle, .land .land-cols .box1:hover .imgtitle {
  display: block !important;
}
.land .land-cols .box4:hover .imgdesc, .land .land-cols .box3:hover .imgdesc, .land .land-cols .box2:hover .imgdesc, .land .land-cols .box1:hover .imgdesc {
  display: block !important;
}
.land .land-cols .box1 {
  height: 21em;
}
.land .land-cols .box3 {
  height: 16em;
}
.land .land-cols .box4 {
  height: 20em;
}
@media (max-width: 875px) {
  .land .land-text {
    width: 70%;
    margin: 5% 0;
  }
  .land .land-cols {
    margin-top: 5%;
    width: 65%;
  }
  .land .land-cols .box1, .land .land-cols .box2, .land .land-cols .box3, .land .land-cols .box4 {
    height: 15em;
  }
  .land .land-cols .box1:hover, .land .land-cols .box2:hover, .land .land-cols .box3:hover, .land .land-cols .box4:hover {
    width: 30em;
    height: 25em;
    border-width: 10px 10px 30px 10px;
    font-size: 13px;
  }
}
@media (max-width: 700px) {
  .land .land-text {
    width: 80%;
  }
  .land .land-cols {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .land .land-cols {
    width: 90%;
  }
}

.line {
  width: 100%;
  height: 1rem;
  background-color: #1b1b1b;
  margin: 1rem 0;
  transition: background-color 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.line:hover {
  background-color: #00c9ff;
}

.line2 {
  width: 90%;
  height: 1rem;
  background-color: #1b1b1b;
  margin-bottom: 1rem;
  transition: background-color 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.line2:hover {
  background-color: #00c9ff;
}

.line3 {
  width: 75%;
  height: 1rem;
  background-color: #1b1b1b;
  margin-bottom: 1rem;
  transition: background-color 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.line3:hover {
  background-color: #00c9ff;
}

.line4 {
  width: 60%;
  height: 1rem;
  background-color: #1b1b1b;
  margin-bottom: 1rem;
  transition: background-color 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.line4:hover {
  background-color: #00c9ff;
}

.Xlayer {
  width: 100%;
  height: 2dvh;
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: repeating-linear-gradient(315deg, #1a1a1a 92%, rgba(13, 13, 13, 0) 100%), repeating-radial-gradient(75% 75% at 238% 218%, rgba(43, 43, 43, 0.0705882353) 30%, rgba(13, 13, 13, 0.0784313725) 39%), radial-gradient(99% 99% at 109% 2%, #3a3a3a 0%, rgba(13, 13, 13, 0) 100%), radial-gradient(99% 99% at 21% 78%, #4d4d4d 0%, rgba(13, 13, 13, 0) 100%), radial-gradient(160% 154% at 711px -303px, #595959 0%, #0d0d0d 100%);
}

.homecontent {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5%;
}
.homecontent .intro-title {
  width: 100%;
  font-size: 3rem;
}
.homecontent .intro {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  margin: auto;
  flex-direction: row;
  gap: 50px;
}
.homecontent .intro .hcboxes {
  width: 400px;
  height: 450px;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 10px;
  box-shadow: 2px 2px 13px 2px black;
}
.homecontent .intro .hcboxes .profileimg {
  width: 400px;
  height: 400px;
  background-size: 100% 100%, cover;
}
@media (max-width: 770px) {
  .homecontent .intro .hcboxes {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
  }
  .homecontent .intro .profileimg {
    flex-shrink: 0;
  }
}
.homecontent .intro .intro-text {
  width: 55%;
  height: -moz-max-content;
  height: max-content;
  font-size: 1.2rem;
}
@media (max-width: 770px) {
  .homecontent .intro {
    flex-direction: column;
  }
  .homecontent .intro .intro-text {
    width: 100%;
  }
}/*# sourceMappingURL=App.css.map */