/*# navigation section */
.navigation {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    padding: 0 4vw;
    position:fixed!important; 
    top: 0;
    z-index: 9999;
    background-color: rgb(34, 35, 68);
    transition: background-color 0.3s ease-in-out;

    .nav {
      display: flex;
      align-items: center;
      gap: 25px;
      z-index: 9999;
      
    }
  
    .branding {
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: row;
    }
  
    .company-name {
      font-size: 1.5rem;
      padding-left: 0.5em;
      transition: 0.7s;
  
      &:hover {
        cursor: pointer;
      }
    }
  
    .nav-link {
      transition: 0.5s ease;
      cursor: pointer;
      font-size: 1.5rem;
      font-weight: 500;
  
      &:hover {
        transform: scale(1.25);
        cursor: pointer;
      }
    }
  
    .ham-icon {
      display: none;
      cursor: pointer;
  
      .bar {
        display: block;
        width: 2em;
        height: 6px;
        margin: 6px auto;
        transition: all 0.4s ease-in-out;
        background-color: white;
      }
    }
  
    @media (max-width: 745px) {
      .ham-icon {
        display: block;
  
        &.active .bar:nth-child(1) {
          transform: translateY(10px) rotate(45deg);
        }
  
        &.active .bar:nth-child(2) {
          opacity: 0;
        }
  
        &.active .bar:nth-child(3) {
          transform: translateY(-15px) rotate(-45deg);
        }
      }
  
      .nav {
        position: absolute;
        margin: 0 0;
        right: 0;
        top:100%;
        overflow-y: scroll;
        visibility: hidden;
        flex-direction: column !important;
        background-color: #FAFAFA;
        width: 100%;
        padding-top: 5%;
        height: 100vh;
        text-align: center;
        opacity: 0%;
        border: 3px solid #001524;
        transition: .75s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  
        .nav-link {
          display: flex; 
          width: 100%;
          height: max-content;
          font-size: 1.5rem;
          color: black !important;
          justify-content: center;
        }
  
        &.active {
          visibility: visible;
          margin: 0 0;
          opacity: 100%;
          font-size: 1.5rem;
          overflow-y: scroll;
        }
      }
    }

    @media (max-width:350px) {
      .nav{
        top: 80px !important;
      }
    }
  }

/* landing section of home.jsx */

.land{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height:max-content;
  justify-content: space-evenly;
  padding: 150px 0 5em 0;
  background-size: 100% 100%;
  background-color: rgb(34, 35, 68);
  .land-text{
    display: flex;
    background-color: transparent;
    color: white !important;
    width: 35%;
    height: max-content;
    flex-direction: column;
    font-size: 1rem;
    gap: 1rem;
  }
  .land-cols{
    display: flex;
    width: 50%;
    height: max-content;
    align-items: end;
    background-color: white;
    border: 3px solid white;
    border-radius: 1%;
    overflow: hidden;
    justify-content: center;
    %box{
      display: flex;
      background-color: #ffffff;
      width: 50%;
      height: 25em;
      background-size: 100% 100%, cover;
      border-width:3px;
      border-style: solid;
      border-color: white;
      border-radius: 2%;
      transition: width 0.5s ease-in, height 0.6s ease-in, background-blend-mode 3s cubic-bezier(0.165, 0.84, 0.44, 1); 
      &:hover{
        width: 70em;
        color: white;
        height: 27em;
      }
    }

    .box1{
      @extend %box;
      height: 21em;
    }
    .box2{
      @extend %box;
    }
    .box3{
      @extend %box;
      height: 16em;
    }
    .box4{
      @extend %box;
      height: 20em;
    }
  }
  @media (max-width:900px){
    .land-text{
      width: 100%;
      margin:10vh 5vw;
    }
    .land-cols{
      width: 100%;
      margin: 0 5vw;
      flex-wrap: wrap;
    }
    %box{
      width: 50%;
      height: 45dvw;
      &:hover{
        width: 50%;
        height: 45dvw;
        border: 5px solid white
      }
    }
  }
}
@media (max-width:875px){
.land{
  padding: 6em 0;
}
}

.line{
  width: 100%;
  height: 1rem;
  background-color: rgb(34, 35, 68);
  margin: 1rem 0;
  transition: background-color 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &:hover{
    background-color:rgb(192, 106, 133);
  }
}

.line2{
  width: 90%;
  height: 1rem;
  background-color: #1b1b1b;
  margin-bottom: 1rem;
  transition: background-color 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &:hover{
    background-color:rgb(192, 106, 133);
  }
}

.line3{
  width: 75%;
  height: 1rem;
  background-color: rgb(34, 35, 68);
  margin-bottom: 1rem;
  transition: background-color 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &:hover{
    background-color:rgb(192, 106, 133);
  }
}

.line4{
  width: 60%;
  height: 1rem;
  background-color: #1b1b1b;
  margin-bottom: 1rem;
  transition: background-color 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &:hover{
    background-color:rgb(192, 106, 133);
  }
}

.Xlayer{
  width: 100%;
  height: 2dvh;
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: 
    repeating-linear-gradient(315deg, #1a1a1a 92%, #0d0d0d00 100%),
    repeating-radial-gradient(75% 75% at 238% 218%, #2b2b2b12 30%, #0d0d0d14 39%),
    radial-gradient(99% 99% at 109% 2%, #3a3a3a 0%, #0d0d0d00 100%),
    radial-gradient(99% 99% at 21% 78%, #4d4d4d 0%, #0d0d0d00 100%),
    radial-gradient(160% 154% at 711px -303px, #595959 0%, #0d0d0dff 100%);

}

.homecontent{
  width: 100%;
  height: fit-content;
  margin: 1vh 0;
  padding: 5%;
  .intro-title{
    width: 100%;
    font-size: 2.75rem;
    color:  black;
  }
  .intro{
    width: 100%;
    height: fit-content;
    display: flex;
    margin: auto;
    flex-direction: row;
    gap: 50px;
    border-radius: 35px 15px 80px 15px;
    .hcboxes{
      width: 400px;
      height: 470px;
      margin: auto;
      overflow-y: scroll;
      overflow-x: hidden;
      border: 1px solid black;
      box-shadow: 2px 2px 6px 1px black;
      border-radius: 2.5%;
      .profileimg{
        width: 100%;
        height: 450px;
        background-size: 100% 100%, cover;
        background-color: rgb(255, 255, 255);
      }
    }
    @media (max-width: 900px) {
      .hcboxes {
        width: 75%;
        height: 400px;
        .profileimg{
          width: 100%;
          height: 610px;
        }
      }
    }
    @media (max-width: 500px) {
      .hcboxes {
        width: 85%;
        height: 325px;
        .profileimg{
          width: 100%;
          height: 370px;
        }
      }
    }
    @media (max-width: 400px) {
      .hcboxes {
        .profileimg{
          width: 100%;
          height: 300px;
        }
      }
    }
    .intro-text{
      width: 70%;
      height: max-content;
      font-size: 1.2rem;
      text-wrap:wrap;
      margin-bottom: 25px;
      background-color: white;
    }
  }
  @media (max-width:900px){
    .intro{
      margin-top: 60px;
      flex-direction: column;
      gap: 60px;
      .intro-text{
        width: 100%;
      }
    }
  }
}